@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --background-primary: #101316;
  --background-secondary: #060606;

  --primary-color: #222831;
  --secondary-color: #3D0000;
  --black-color: #131516;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #e8e6e3;
  --span-color: #ECB365;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}